<div class="black_layer"></div>
<div class="content_and_background text_page <% if configuration['sticky_inline_image'].present? %>sticky_inline_image<% end %> <%= background_asset_present_css_class(configuration) %> <% if configuration['invert_text'].present? %>invert_text<% end %>">
  <div class="page_background">
    <%= page_background_asset(page) %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
    <div class="fixed_header_area">
      <div class="page_header_wrapper">
        <div class="page_header">
          <h3>
            <span class="page_header-tagline"><%= configuration['tagline'] %></span>
            <span class="page_header-title"><%= configuration['title'] %></span>
            <span class="page_header-subtitle"><%= configuration['subtitle'] %></span>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="content scroller inline_text_position_<%= configuration['inline_text_position'].present? ? configuration['inline_text_position'] : 'left'  %>">
    <div>
      <div class="content_wrapper">
        <div class="page_spacer"></div>
        <div class="contentInnerWrapper">
          <div class="content_background_layer" style="<%= configuration['text_page_background_color'].present? ? "background-color: #{configuration['text_page_background_color']}" : '' %>"></div>
          <div class="page_header">
            <div class="header_background_layer" style="opacity: <%= configuration['gradient_opacity'].to_i / 100.0 %>"></div>
            <h3>
              <span class="page_header-tagline"><%= configuration['tagline'] %></span>
              <span class="page_header-title"><%= configuration['title'] %></span>
              <span class="page_header-subtitle"><%= configuration['subtitle'] %></span>
            </h3>
            <%= background_image_tag(configuration['background_image_id'], {"class" => "print_image"}) %>
          </div>
          <div class="page_text">
            <h4 class="page_sub_header">
              <span class="text_title"><%= configuration['text_title'] %></span>
            </h4>
            <%= link_to(configuration['prevent_fullscreen'].blank? ? fullscreen_image_url(configuration['text_image_id']) : '#',
                        target: ("_blank" if configuration['prevent_fullscreen'].blank?),
                        class: 'inline_image' \
                               "#{' no_image_assigned' if configuration['text_image_id'].blank?}" \
                               "#{' allow_fullscreen' if configuration['prevent_fullscreen'].blank?}") do %>
              <%= content_image(configuration['text_image_id'], configuration['image_description']) %>
              <% if configuration['image_description'].present? %>
                <div class="inline_image_text"><span><%= configuration['image_description'] %></span></div>
              <% end %>
              <div class="bigscreen_toggler" tabindex="4" title="<%= t('pageflow.public.enlarge_view') %>"><%= t('pageflow.public.fullscreen') %></div>
            <% end %>
            <p>
              <%= raw configuration['text'] %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image_fullscreen_view" style="<%= configuration['text_page_background_color'].present? ? "background-color: #{configuration['text_page_background_color']}" : '' %>">
    <div class="image_fullscreen_wrapper">
      <div class="image_fullscreen_inner_wrapper">
      <%= content_image_large(configuration['text_image_id'], configuration['image_description']) %>
      <% if configuration['image_description'].present? %>
        <div class="inline_image_text"><span><%= configuration['image_description'] %></span></div>
      <% end %>
      </div>
    </div>
    <div class="close_button" tabindex="4" title="<%= t('pageflow.public.close') %>">
      <div class="label">
        <%= t('pageflow.public.close') %>
      </div>
    </div>
  </div>
</div>
